body{

font-family:Arial;
background:#121212;
color:white;
margin:0;

}

header{

background:#ff6a00;
padding:15px;
text-align:center;

}

nav{

display:flex;
flex-wrap:wrap;
justify-content:center;
gap:10px;
padding:10px;

}

button{

background:#ff6a00;
border:none;
color:white;
padding:10px 15px;
cursor:pointer;

}

button:hover{

background:#ff4500;

}

section{

padding:20px;

}

.hidden{

display:none;

}

#listaMesas{

display:grid;
grid-template-columns:repeat(5,1fr);
gap:10px;

}

.mesa{

background:#333;
padding:20px;
text-align:center;

}

input,select{

padding:8px;
margin:5px;

}